// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~nprogress/nprogress.css';
@import '~bootstrap/scss/bootstrap';
@import '~js-datepicker/dist/datepicker.min.css';
@import './loading';

#nprogress .bar {
    height: 4.5px !important;
    background: $green !important;
    z-index: 55441 !important;
}

th, td {
    font-size: 14px;
}

.tchat-contact {

    .modal-header {
        z-index: 10;
    }

    .modal-body {
        z-index: 9;
    }

    .sidebar--p {
        position: relative;
    }

    .sidebar--b {
        position: fixed;
        height: 100%;
        display: block;
        z-index: 8;
    }

    * {
        border-radius: 0px;
        border-collapse: collapse;
        box-shadow: none;
    }

    .message-card {
        font-size: small !important;
        max-width: 60%;
    }

    .bg-lightblue {
        background-color: #7CC0FF;
        color: #fff;
    }

    .bg-darkblue {
        background-color: #0E5EA9;
    }

    .bg-lightgrey {
        background-color: #f1f1f1;
    }

    .search-input-h {
        height: 10%;
    }

    .hover-color-darkblue:hover {
        color: #0E5EA9;
    }

    .hover-color-lightgray:hover {
        color: #dcdcdc;
    }

    .hover-bg-lightgray:hover {
        background-color: #dcdcdc;
        cursor: pointer;
    }

    .active.hover-bg-lightgray:hover {
        background-color: #0E5EA9;
        cursor: pointer;
    }

    .list-group {
        .active {
            color: rgb(157, 157, 255);
        }
    }

    .text-white {
        color: white;
    }

    .message-scroll {
        overflow-y: auto;
    }

    .sidebar-scroll {
        overflow-y: auto;
    }

    #sidebar-content {
        display: flex;
        flex-direction: column;
    }

    #list-group {
        flex: 1 1;
    }
}
