<table width="100%" border="1" cellpadding="5" cellspacing="0">
    <tr>
        <td colspan="2" align="center" style="font-size:18px"><b>Invoice</b></td>
    </tr>
    <tr>
        <td colspan="2">
            <table width="100%" cellpadding="5">
                <tr>
                    <td width="65%">
                        To,<br />
                        <b>RECEIVER (BILL TO)</b><br />
                        Name : <br />
                        Billing Address : <br />
                    </td>
                    <td width="35%">
                        Reverse Charge<br />
                        Invoice No. : <br />
                        Invoice Date : <br />
                    </td>
                </tr>
            </table>
            <br />
            <table width="100%" border="1" cellpadding="5" cellspacing="0">
                <tr>
                    <th rowspan="2">Sr No.</th>
                    <th rowspan="2">Product</th>
                    <th rowspan="2">Quantity</th>
                    <th rowspan="2">Price</th>
                    <th rowspan="2">Actual Amt.</th>
                    <th colspan="2">Tax (%)</th>
                    <th rowspan="2">Total</th>
                </tr>
                <tr>
                    <th>Rate</th>
                    <th>Amt.</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td aling="right"></td>
                    <td align="right"></td>
                    <td></td>
                    <td align="right"></td>
                    <td align="right"></td>
                </tr>
                <tr>
                    <td align="right" colspan="4"><b>Total</b></td>
                    <td align="right"><b></b></td>
                    <td>&nbsp;</td>
                    <td align="right"><b></b></td>
                    <td align="right"><b></b></td>
                </tr>
            </table>
            <br /><br /><br />
            <p align="right">----------------------------------------<br />Receiver Signature</p>
        </td>
    </tr>
</table>
